<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <title>Plants & Pots</title>
  </head>
  <body>
    <div class="bg">
      <h1>Plants &amp; Pots</h1>
      <p class="tagline">Naturally beautiful, purely yours</p>
      <div class="buttons">
        <a href="/login"><button class="btn btn-secondary">Login</button></a>
        <a href="/register"><button class="btn btn-secondary">Register</button></a>
        <a href="/plants"><button class="btn btn-primary">Continue as Guest</button></a>
      </div>
    </div>
  </body>
</html>
